// NEW SASS SCRIPTS
$background-color: #577568;

// * {
    
//     outline: 1px red solid;
// }
body {
    background: $background-color;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background-color: #f6fff8;
        padding: 70px;
        position: relative;
        
        #note, #back {
            font-size: 11px;
            position: absolute;
            top: 8px;
            left: 8px;
            color: green;
        }

        #back {
            font-size: 14px;
            color: black;
            font-weight: 700;
            font-style: italic;
            text-decoration: none;
        }

        h2 {
            font-size: 40px;
        }
    
        h2#login {
            margin: 0 auto;
        }
        
        #username {
            margin-bottom: 8px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h3 {
                margin: 0px;
                margin-right: 100px;
                font-size: 20px;
                align-items: center;
            }

            select {
                width: 150px;
                height: 100%;
            }
        }
        
        #login_link {
            font-style: italic;
            text-decoration: none;
            font-size: 12px;
            padding-top: 2px;
        }
        
        input[type="submit"] {
            border-radius: 5px;
            background-color: #cce3de;
            width: 100%;
            margin-top: 30px;
            height: 40px;
        }

        footer {
            font-style: italic;
            font-size: 13px;
            padding-top: 5px;

            #wiki {
                text-decoration: underline;
            }
        }
    }

}

#navbar {

    button#profile-icon {
        background-color: transparent;
        padding: 0px;
        border-radius: 50%;
        border-color: transparent;

        i {
            font-size: 45px;
        }
    }
}

#navbar.container {
    max-width: 100%;
    height: 70px;
    padding: 5px 10px;
    display: grid;
    align-items: center;
}

hr#navbar-line {
    margin-top: 0px;
}

.hide-on-edit {
    visibility: hidden;
}

.user-registration {
    display: none;
}

#navbar-popover {
    display: grid;
    grid-column: 1 / 1;
    width: 130px;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 5;
    visibility: hidden;

    button {
        width: 100%;
        text-align: left;
        height: 50px;
    }

    button, button:active {
        outline: none;
        box-shadow: none;
        transform: none;
        border: none;
    }
}

section#data-section {
    position: relative;
    padding: 0px 10px;

    .nav-link {
        color: white;
    }

    .nav-link.active {
        color: black;
    }

    #users-table_wrapper, #nav-registration {
        padding-top: 10px;
        #users-table {
            color: white;
        }
    }
    
    tr {
        background-color: transparent;
    }
}

a#users-table_previous.disabled, a#users-table_next.disabled{
    color: rgba(0, 0, 0, 0.313) !important;
    display: none !important;
}

.paginate_button {
    color: black !important;
}

.modal-backdrop.show {
    background-color: rgba(255, 255, 255, 0.5); /* Dark semi-transparent background */
    backdrop-filter: blur(30px); /* Apply blur effect */
    opacity: 0.97;
    -webkit-backdrop-filter: blur(30px); /* For Safari support */
}

.modal-content {
    z-index: 1055; /* Make sure the modal content is above the backdrop */
}

.modal-dialog {
    max-width: 100%;
}







// *************************************************************************************************************


#delete_icon {
    text-align: center;
    padding: 0;
}
#delete_column.sorting {
    width: 26px;
    background-image: none;
}
.delete, #edit {
    border: none;
    background-color: transparent;
}
.action_buttons {
    display: inline-block;
}
header {
    position: relative;
    height: 50px;
}
#logout, #profile {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}
#profile {
    right: 90px;
}

// #wor-table_wrapper {
//     padding-top: 40px;
// }

// form#create_wor h1 {
//     margin-bottom: 20px;
// }
// form#create_wor h5 {
//     margin: 0;
// }
// form#create_wor {
//     padding: 20px;
// }
// form#create_wor textarea {
//     display: block;
//     width: 800px;
//     height: 240px;
//     resize: none;
//     margin-bottom: 10px;
// }
// form#create_wor table {
//     margin-bottom: 20px;
// }
// form#create_wor .priority {
//     margin-right: 10px;
// }

// // for show WOR

// #nav-tab {
//     margin-bottom: 10px;
// }

// #wor_details {
//     width: 800px;
// }
// #wor_details h1 {
//     margin-bottom: 0;
//     display: inline-block;
//     margin-right: 10px;
// }
// #wor_details #action_dates {
//     font-size: 12px;
//     display: inline-block;
// }
// #wor_details h5 {
//     margin: 0;
// }
// #wor_details form#view_wor {
//     padding: 20px;
//     width: 60%;
// }
// #wor_details textarea {
//     display: block;
//     width: 97%;
//     height: 240px;
//     resize: none;
//     margin-bottom: 10px;
// }
// #wor_details table {
//     margin-bottom: 20px;
// }
// #wor_details .priority {
//     margin-right: 10px;
// }
// #wor_details #footer {
//     margin-bottom: 20px;
//     display: inline-block;
// }
// #wor_details #footer section {
//     display: inline-block;
// }
// #draft, #return {
//     color: rgb(48, 48, 48);
//     background-color: transparent;
//     border: none;
//     text-decoration: underline;
// }
// #return {
//     margin-left: 20px;
// }
// #submit, #approve, #close, #update {
//     background-color:#008e0e;
//     color: white;
// }
// #reject, #revoke, #cancel {
//     background-color: rgb(165, 0, 0);
//     color: white;
// }
// #nav-reservation .matcode{
//     width: 110px;
// }
// #nav-reservation .quantity {
//     width: 50px;
// }
// #nav-reservation .matcode, #nav-reservation .quantity {
//     border: none;
// }
// #nav-reservation #reservation, #nav-reservation #reservation th, #nav-reservation #reservation tr, #nav-reservation #reservation td {
//     border: 1px solid black;
// }
// #reservation {
//     margin: 20px 0;
// }
// #reservation td {
//     padding: 2px;
// }
// #reservation .matcode, #reservation .quantity {
//     width: 100%;
//     background-color: rgb(255, 255, 194);
// }
// #reservation_info, #reservation_paginate, #reservation_length, #reservation_filter {
//     display: none;
// }