<header id="navbar" class="d-flex justify-content-between">
  <%= yield if block_given? %>
  <button id="profile-icon" data-action="open-navbar-popover" ><i class="fa-solid fa-circle-user"></i></button>
</header>
<hr id="navbar-line">